<div class="banner z-depth-2"> <h5 id="whoami" class= "z-depth-2">Qui suis-je ?</h5> <img  src="./resources/keyboard_long.png" alt="Keyboard-img"></div>
<p class="flow-text pres">        Vous devez avoir lu mon CV, mais vous ne savez toujours pas que: Je suis passionné d'informatique, de science et nouvelles technologies et aime passer mon temps libre sur divers projets et expériences dans le domaine de l'électronique, du développement et de la musique...
        J'aime aussi la lecture, écouter de la musique ou des podcasts et le sport.</p>
<div class="banner  z-depth-2">
  <h5  class= "z-depth-2" id="quality">Mes qualités</h5><img  class="right" src="./resources/screen.png" alt="raspberry-img">
</div>
<p class="flow-text pres">        J'aime réaliser des projets, seul ou en équipe. En effet c'est l'occasion de m'investir dans un nouvel environnement et d'acquérir des connaissances concrètes, tout en réalisant un produit. Lorsque je suis confronté à un nouvel élément physique, virtuel ou théorique, je suis <strong>curieux</strong> d'expérimenter celui-ci avant de l'intégrer à un projet personnel ou professionnel.
        De plus, les projets me permettent autant de m'<strong>enrichir</strong> au contact de mes coéquipiers que d’apporter ma <strong>participation</strong>. Le travail d'équipe est une ouverture vers <strong>d'autres perceptions</strong> du développement informatique, d'autres philosophies de l'informatique, en somme c’est une activité qui aide aussi bien au développement personnel que professionnel.
        J’aime communiquer afin de rester efficace. Le respect de l'opinion de l'autre est quelque chose d'important dans une équipe et j'y tiens.
        Je sais faire preuve de <strong>motivation</strong>, de <strong>sérieux</strong>, de <strong>rigueur</strong>, de <strong>dynamisme</strong>, et surtout d'<strong>adaptabilité</strong>.</p>
<div class="banner  z-depth-2">
  <h5  class= "z-depth-2" id="obj">Mes objectifs</h5><img  class="left" src="./resources/rpib2.png" alt="raspberry-img">
</div>
<p class="flow-text pres">        Je tiens à suivre une formation d'<strong>Ingénieur Informatique en alternance</strong>.
        Effectivement, je suis encore <strong>désireux d'apprendre</strong> et tout les aspects de l'informatique m'intéressent encore, je veux donc continuer à approfondir tous ces domaines afin d'y trouver une préférence.
        Cependant, je souhaite continuer à <strong>réaliser des projets concrets</strong> et garder contact avec le monde professionnel afin d'accéder à de nouvelles compétences - indisponibles dans une formation pédagogique - ainsi que de l'expérience.
        Je compte par la suite me trouver une situation qui me permettrait de <strong>découvrir</strong> d'autres corps de métier et me <strong>développer continuellement</strong>.
</p>
