<div  class="row allExpProj">
  <div id="{{tile.id}}" ng-repeat="tile in cv.allProjects" class="card small " >
    <div class="center ">
      <div class="card-image small waves-effect waves-block waves-light" ng-click="detail(tile.id)">
        <img class="activator" ng-src="{{tile.img}}" >
      </div>
    </div>
    <div class="card-content orange lighten-5 z-depth-1" >
      <p class="card-title activator grey-text text-darken-4 "  ng-click="detail(tile.id)">{{ tile.name }}</p>
      <p class="light-text"><i class="material-icons tiny">settings</i>Complexité : {{tile.complexity}}</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4  orange lighten-5"  ng-click="detail(tile.id)">{{ tile.name }}<i class="material-icons right" >close</i></span>
      <p>Durée : {{tile.duration}}</p>
      <pre>{{tile.shortDesc}}</pre>
      <p><a href="{{tile.link.link}}" target="_blank">{{tile.link.name}}</a></p>
      <p><a ng-if="tile.include == true" ng-href="#!/projects/{{tile.id}}" class="btn orange" >Plus</a></p>
      <div class="divider" style="margin-bottom:0.5rem;"></div>
      <div ng-repeat='skill in tile.skills' ><a ng-href='#!/skills/{{cv.allSkills.items[skill].id}}' ><div class="chip col chip-skill " ng-class='cv.allSkills.items["{{skill}}"].color+4'>{{skill}}</div></a></div>
    </div>
  </div>
</div>
